@import 'utils/variables';
@import 'components/type';

/* Version Desktop */

html {
    scroll-behavior: smooth;
}

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
}

.Header h1{
    font-family: "monotype grotesk", sans-serif;
    font-weight: 100;
    font-size: 25px;
}

.Content{
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 7;
    margin-top: 4em;
}

.Content h1{
    font-family: "monotype-modern-display", sans-serif;
    font-weight: 500;
    font-size: 112px;
}

.Chapter1, .Chapter2, .Chapter3, .Chapter4, .Chapter5{
    border-width: 100%;
    font-size: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2em;
    transition: 0.6s;
    cursor: pointer;
}

.Chapter2{
    background-color: #F2F2F2
}

.Chapter3 {
    background-color: #e0e0e0;
}

.Chapter4 {
    background-color: #cecece;
}

.Chapter5 {
    background-color: #c2c2c2;
}



.scrolling-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    animation-iteration-count: infinite;

.logo-scroll {
    height: 1em;
    width: 200px;           
    vertical-align: middle;
    object-fit: contain;
}
    
 span {
    display: inline-block;
    animation: loop 45s linear infinite;
    animation-play-state: running;
 }

 span:hover {
     animation-play-state: paused;
 }
}

@keyframes loop {
 0% {
    transform: translateX(0%);
 }
  100% {
    transform: translateX(-100%);
  }
}

/*Overlay et détails des chapitres*/
.Chapter-details{
    display: none;
    grid-template-columns: 50% 50%;
    gap: 1,3rem;
}

.Chapter-details.chapter2 {
    background-color: #F2F2F2;
}

.Chapter-details.chapter3 {
    background-color: #e0e0e0;
}

.Chapter-details.chapter4 {
    background-color: #cecece;
}

.Chapter-details.chapter5 {
    background-color: #c2c2c2;
}

.Chapter-details.active{
    display: grid;
}

.Column-left {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding : 1rem;
    animation: fadeIn 0.8s ease-in-out;
}

.Column-left p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-family: "monotype-grotesque", sans-serif;
}

.Column-left .obvious {
    font-size: 36px;
    font-weight: 450;
}

.Column-right {
    padding: 1rem;
    font-size: 1rem;
    overflow-y: hidden;
    position: relative;
    animation: fadeIn 0.8s ease-in-out;
}

.Column-right img{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

/* Animation d’apparition */
@keyframes fadeIn {
 from {
 opacity: 0;
 transform: translateY(15px);
 }
 to {
 opacity: 1;
 transform: translateY(0);
  }
}


/* Version Mobile */

@media (max-width: 768px) {
    .Header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .Header h1{
        font-size: 20px;
    }

    .Content h1{
        font-size: 33px;
        margin-left: 10px;
    }

    .scrolling-container{
        position: relative;
    }

    .scrolling-container span{
        display: none;  
    }

    .scrolling-container::after {
    display: block;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 33px;
  }

  .Column-left p{
    font-size: 14px
  }

  .Column-left .obvious {
    font-size: 19px;
    font-weight: 450;
  }
  
  .scrolling-container.intro::after {
    content: "#Intro";
  }

  .scrolling-container.contexte::after {
    content: "#Contexte";
  }

  .scrolling-container.politique::after {
    content: "Chap.1 : #Politique";
  }

  .scrolling-container.economie::after {
    content: "Chap.2 : #Economie";
  }

  .scrolling-container.social::after {
    content: "Chap.3 : #Social";
  }
}